@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
dl{
	width: 856px;               /*设置元素宽度*/
	height: 420px;              /*设置元素高度*/
	margin: 0 auto;             /*设置元素自动居中对齐*/
	padding: 12px 0 0 12px;     /*上下左右的内边距一次为12px,0,0,12px*/
	border: 1px solid #ccc;     /*边框为1px的灰色实线*/
	border-top-style: dotted;   /*上边框样式为点画线*/
}
dd{
	float: left;                /*向左浮动*/
	margin: 0 12px 12px 0;      /*外边距*/
	display: inline;            /*内联元素*/
}
a{
	display: block;             /*将内联元素a标签转化为块元素*/
	width: 202px;               
	height: 200px;
	text-decoration: none;
	text-align: center;
	overflow: hidden;           /*超出a标签定义的宽度时隐藏文字*/
}
img{
	width: 200px;               /*设置图像显示宽度*/
	height: 150px;              /*设置图像显示高度*/
	border: 1px solid #ccc;     /*设置图像边框为1px的灰色实线*/
}
strong{
	display: block;             /*设为块级元素*/
	width: 202px;               /*设置元素宽度*/
	height: 30px;               /*设置元素高度*/
	line-height: 15px;          /*设置行高为15px*/
	font-weight: 600;           /*设置文本粗细*/
	color: #333;                /**/
	overflow: hidden;           /*超出标签定义的宽度时隐藏文字*/
}
span{
	display: block;             /*设为块级元素*/
	width: 202px;               /*设置元素宽度*/
	height: 20px;               /*设置元素高度*/
	font-weight: 600;           /*设置文本粗细*/
	color: #666;                /**/
}
em{
	font-weight: 600;
	color:#E8D110;               /*字体颜色设为黄色*/
}
a:hover img{
	border-color:#FF0004;      /*鼠标停留时图片边框为红色*/
	/*border: 2px solid #f33;  为什么不可以？*/
}
a:hover strong{
	color: #0071FF;            /*鼠标停留时字体为蓝色*/
	font-size: 800;            /*字体粗细由600变成800*/
}
a:hover em{
	color: #FF0004;            /*鼠标停留时字体为红色*/
}